body{
	margin:0;
	padding: 0;
	font-family:poppins;
}
a{ 
	text-decoration: none; 
	background-color: transparent; 
	color:rgb(255, 255, 255); 
	margin: 0 10px;
}
.navbar{
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: #070707;
	width: 100%;
	height: 70px;
	z-index: 1;
}
.nav{
	display:flex;
	justify-content:right;
	list-style:none;
	margin-right:15%;
}
.inner-header{
	width:80%; 
	margin:auto;
	
}

.logo{
	flex: 1 1 auto;
	float: left; 
	padding: 15px; 
	font-size: 20px; 
	font-weight: bold;
	height: 50px;
}
.header-link{
	float: right; 
	font-size:14px; 
	height: 50px;
	padding: 15px 15px; 
	font-size:16px; 
	font-weight: bold;
	color: white;
}
.content{
   color: white;
}
.inner_content{
	background-origin: border-box;
	background-color: black;
	color: white;
}
.banner_image{
	padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    color: #f8f8f8;
    background: url(img/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
}
.banner_content{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 2000px;
}
center {
    display: block;
    text-align: -webkit-center;
}
.button{
	color: #fff; 
	background-color: #c9302c; 
	border-color: #ac2925; 
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); 
	padding: 10px 16px; 
	font-size: 18px; 
	border-radius: 6px;
}
.container{
	padding-top: 50px;
	width:90%; 
	margin:auto; 
	overflow:hidden;
}
.jumbotron{
	background-color: #eeeeee;
	text-align: center;
}

.items{
	width:30%; 
	display: block; 
	padding: 4px; 
	margin-bottom: 20px; 
	line-height: 1.42857143; 
	background-color: #fff; 
	border: 1px solid #ddd; 
	border-radius: 4px; 
	float: left;
	margin-left:1%;
}
.thumbnail{
	max-width: 200%; 
	height: 500px;
}
.caption{
	color:#000; 
	padding:0;
	font-weight: bold; 
	text-align: center;
}
.caption h3{
	color: #070707;
	align-items: center;
}
.button{
    color: #fff; 
	background-color: #c9302c; 
	border-color: #ac2925; 
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); 
	padding: 10px 16px; 
	font-size: 18px; 
	border-radius: 6px;color: #fff; 
}

footer{
	background-color: #000; 
	color:#fff; 
	font-size:14px;
	text-align: center;
}
